* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    background-color: #fafafa;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    height: 300px;
    background: #242424;
    color: #ffffff;}

.online-financing {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pay-later {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #242424;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    border-radius: 6px;
    padding: 1px 16px;
}

.financing {
    font-size: 28px;
}

.red-notice {
    padding: 10px;
    background: #d80000;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.announcement {
    width: min(1480px, 90%);
    position: relative;
    /* border: 1px solid blue; */
}

/*
    I want the announcement box to always stay in the middle,
    while the message box always stays to the left of it.
*/


.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.subscribe > svg {
    /* border: 2px solid plum; */
    height: 17px;
    width: 20px;
}

.main-header {
    display: flex;
    flex-direction: column;
    /* border: 2px solid greenyellow; */
    height: 200px;
    width: min(1480px, 90%);
    margin: 0 auto;
}

.top-header img {
    width: 220px;
    height: 90px;
    margin: 20px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-basis: 60%;

}

input[name="search"] {
    width: 95%;
    height: 45px;
    border: none;
    padding: 0 10px;
    border-radius: 4px 0 0 4px;
}

input[name="search"]:focus {
    outline: none;
}

button[type="submit"] {
    flex: 0 0 auto;
    width: 45px;
    background-color: rgb(216, 0, 0);
    border: none;
    border-radius: 0 2px 2px 0;
}

.account-menu {
    flex: 1 0 auto;
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.my-account, .shopping-cart {
    font-weight: 700;
}

.arrow-down {
    display: inline-block;
    width: 12px;
    height: 8px;
}

.v-separator {
    width: 1px;
    height: 34px;
    background-color: #ffffff30;
}

.shopping-cart {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    gap: 25px;
    position: relative;

}

.cart-icon {
    width: 27px;
    height: 24px;
}

.cart-count {
    position: absolute;
    background-color: #d80000;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: -8px;
    left: 54px;
    font-size: 13px;
    font-weight: lighter;
}

.bottom-header {
    /* border: 2px solid red; */
    height: 60px;
}

main {
    flex: 1;
}

footer {
    height: 480px;
    bottom: 0;
    background: #242424;
}