* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html {
    background-color: #060606;
    color: #FFF1F6;
}

header {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    padding: 40px 0;
    margin: 0 80px;
    
}

h1 {
    /* border: 2px solid white; */
    font-weight: 500;
    font-size: 36px;
}

h2 {
    text-align: center;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    list-style: none;
}

.header-style {
   /* border: 2px solid yellowgreen;  */
    font-weight: 500;
    font-size: 16px;
}

.header-center {
    flex-basis: 300px;
}

.text-glow {
    text-shadow: 0 0 20px #ffffff50;
}

.sb-inner-shadow {
    box-shadow: 0 0 31px 1px #FB2576 inset;
}

.hero {
    width: min(1600px, 80%);
    height: 700px;
    margin: 0 auto;
    border-radius: 20px;
}

button[type="button"] {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #FFF1F6;
    background-image: linear-gradient(#FB2576 20%, #3F0071 140%);
    box-shadow: 0 0 3px 0 #FB2576;
    font-size: 16px;
    font-weight: 500;
}

.sb-purple-fade {
    background-image
}