* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html {
    background-color: #060606;
    color: #FFF1F6;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

 /* header */

 header {
    display: flex;
    justify-content: center;
 }

.top-header {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    margin: 0 80px;
    flex-basis: 2560px;
    row-gap: 8px;
}

h1 {
    /* border: 2px solid yellowgreen; */
    font-weight: 500;
    font-size: 36px;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 2em;
}

a[class] {
    text-decoration: none;
    color:#FFF1F6;
    cursor: pointer;
}

.header-font {
    /* border: 2px solid yellowgreen;  */
    font-weight: 500;
    font-size: 16px;
}

a.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-image: linear-gradient(#FB2576 20%, #3F0071 140%);
    box-shadow: 0 0 3px 0 #FB2576;
}

/* body */

h2 {
    text-align: center;
}

.scroll-down {
    /* border: 2px solid yellowgreen; */
    position: sticky;
    top: 5%;
    width: 100%;
    margin: 80px auto;
}


.hero {
    width: min(1600px, 80%);
    height: 700px;
    margin: 0 auto 80px;
    border-radius: 20px;
}

.body-header {
    font-size: 40px;
    font-weight: 600;
    text-shadow: 0 0 32px #FB2576;
}

.container {
    /* border: 2px solid greenyellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(1600px, 80%);
    margin: 0 auto 80px;
    flex-wrap: wrap;
}

.sub-hero {
    height: 700px;
    flex-basis: 50%;
    border-radius: 20px;
    flex-shrink: 0;
    flex-basis: max(300px, 50%);
}

.sub-heading {
    flex-basis: 50%;
    text-align: center;
}

 /* footer */

 footer {
    /* border: 2px solid greenyellow;    */
    height: 70px;
    background-image: linear-gradient(#00000000, #fb257795 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
 }

/* generic stylistic classes */

.strb-inner-shadow {
    box-shadow: 0 0 31px 1px #FB2576 inset;
}

.text-glow {
    text-shadow: 0 0 20px #ffffff90;
}

/* media queries */

@media screen and (max-width: 760px) {
    .top-header {
        justify-content: center;
        flex-direction: column;
    }

    nav > ul {
        gap: 4em;
    }
}

@media screen and (max-width: 520px) {
    .top-header {
        justify-content: center;
        flex-direction: column;
    }

    nav > ul {
        flex-direction: column;
        gap: 1em;
        font-size: 14px;
    }

    h1 {
        font-size: 32px;
        text-align: center;
    }
}